[submodule "vim/.vim/pack/plugins/start/lightline"]
	path = vim/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/pack/plugins/start/nerdtree"]
	path = vim/.vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/plugins/start/codeium.vim"]
	path = vim/.vim/pack/plugins/start/codeium.vim
	url = https://github.com/Exafunction/codeium.vim
